 * {
    cursor:context-menu;
    
 }

nav {
    width: 90%;
    margin: 2% auto;
    border-bottom: 1px solid #000;
}
nav h2 {
    font-size: 2rem;
    padding: 0 5px;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-radius: 15px;
    display: inline-block;
    margin-left: 5%;
    font-family: 'Rubik Iso', cursive;
    
}
nav h2 span{
    color: red;
}

/* div a {
    float: right;
} */

input{
    float: right;
    margin: 2px;
}
form {
    height: 400px;
}

